POSTGRES_USER=demo
POSTGRES_PASSWORD=demo_pass
POSTGRES_DB=oltp
POSTGRES_PORT=5432

CH_USER=default
CH_PASSWORD=
CH_DB=default
CH_HTTP_PORT=8123
CH_NATIVE_PORT=9000

AIRFLOW__CORE__FERNET_KEY=PLEASE_GENERATE_A_REAL_KEY_FOR_PROD
AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__WEBSERVER__RBAC=True
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_PORT=8080

SUPERSET_USER=admin
SUPERSET_PASSWORD=admin
SUPERSET_PORT=8088
